<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Template</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/custom.css">

  <style>

[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

  </style>


   </head>
   <body>

      <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu">
         <div data-include="../css3-sidebar.html"></div>
      </div> <!-- /.navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu --> 

      <div class="container">

     <h2>Structure </h2>
         <hr />

      <!-- <h3>Desktop Structure (L, M)</h3>   

         <p>We have 2 types of common layout for L & M, 2 container layout and 1 container layout.</p> -->


  <p><img src="../img/structure.png" class="img-responsive" alt="" ></p>

<br clear="all" /> 


<!--  <h3>Tablet &amp; Mobile Structure (S, XS)</h3>   

         <p>Use 1 container for S and XS. If there are 2 containers on Desktop, hide secondary panel for Tablet and Mobile.</p>

 <div class="col-md-12">

  <p align="center"><img src="../img/structure-tablet.png" class="img-responsive" alt="" ></p>

   <p align="center"><img src="../img/structure-mobile.png" class="img-responsive" alt="" ></p>

 </div>   -->

<br clear="all" /> 

      </div><!-- /.container -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/csi.min.js"></script>

      <script>

     </script>
    


   </body>
</html>