---
notes: |
  The `.di-form-block` class provides style variations to Bootstrap's standard
  `.form-group` and `.input-group`.
---

<div class="form-group di-form-block">
  <div class="input-group">
    <label class="input-group-addon" for="form-group-1">From</label>
    <input class="form-control input-lg" id="form-group-1" placeholder="Select account">
  </div>
</div>
<div class="form-group di-form-block">
  <div class="input-group">
    <label class="input-group-addon" for="form-group-2">To</label>
    <input class="form-control input-lg" id="form-group-2" placeholder="Select account">
  </div>
</div>
<div class="form-group di-form-block">
  <div class="input-group">
    <label class="input-group-addon" for="form-group-3">Repeat</label>
    <input class="form-control input-lg" id="form-group-3" placeholder="Select frequency">
  </div>
</div>
