---
notes: |
  Use the `.di-form-block--chunk` modifier class to keep inputs grouped together
  at large screens.
---

<div class="form-group di-form-block di-form-block--chunk">
  <div class="input-group">
    <label class="input-group-addon" for="form-group-4">Tax ID</label>
    <input class="form-control input-lg" id="form-group-4" placeholder="Select account">
  </div>
</div>
<div class="form-group di-form-block">
  <div class="input-group">
    <label class="input-group-addon" for="form-group-5">From</label>
    <input class="form-control input-lg" id="form-group-5" placeholder="Select account">
  </div>
</div>
