/**
 * Icon
 *
 * Inline SVG icon component.
 */

/**
 * 1. Because vertical alignment is funny, icons always appear about a pixel too
 *    low when they're the same height as the current `font-size`.
 * 2. Base dimensions on the current `font-size` for leaner adjustments.
 */

.di-icon {
  position: relative;
  top: -1px; /* 1 */
  margin: 0;
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 1em; /* 2 */
  vertical-align: middle;
  fill: currentColor;
}

.di-icon--small {
  font-size: .5em; /* 2 */
}

.di-icon--large {
  font-size: 2em; /* 2 */
}

/**
 * Apply animation
 */
.di-icon--rotate {
  animation-name: rotate-full;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
