<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Alerts </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <h1>Alerts </h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <p><strong>EXAMPLE</strong></p>


         <div class="alert alert-success">
    <strong> Payments were scheduled.</strong> You can cancel until it processes.
  </div>
  <div class="alert alert-info">
    <strong> Payments were scheduled.</strong> You can cancel until it processes.
  </div>
  <div class="alert alert-warning">
    <strong> Payments were scheduled.</strong> You can cancel until it processes.
  </div>
  <div class="alert alert-danger">
    <strong> Payments were scheduled.</strong> You can cancel until it processes.
  </div>


         <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <code>
            
    
         </code>
      </div>
      <!-- /.container --> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
   </body>
</html>
