<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Buttons </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../css/bootstrap.min.css">
   </head>
   <body>


  
      <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu">
         <div data-include="../css3-sidebar.html"></div>
      </div> <!-- /.navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu --> 


      <div class="container">
         <h1>Buttons </h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <p><strong>EXAMPLE</strong></p>

        <h2>Buttons</h2>
  <button type="button" class="btn btn-primary btn-lg">Large</button>
  <br clear="all" /> <br /> 
  <button type="button" class="btn btn-primary btn-sm">Small</button>
  <br clear="all" /> <br /> 
  <button type="button" class="btn btn-primary disabled">Disabled Primary</button>
  <br clear="all" /> <br /> 
<a href="#" class="btn btn-primary btn-lg">
      <span class="glyphicon glyphicon-print"></span> Print
    </a>


         <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <code>
           
            &#60;button type="button" class="btn btn-primary btn-lg">Large&#60;/button&#62;<br clear="all" /> <br /> 
 
  &#60;button type="button" class="btn btn-primary btn-sm">Small&#60;/button&#62;<br clear="all" /> <br /> 

  &#60;button type="button" class="btn btn-primary disabled">Disabled Primary&#60;/button&#62;<br clear="all" /> <br /> 

&#60;a href="#" class="btn btn-primary btn-lg"&#62;<br />
      &#60;span class="glyphicon glyphicon-print">&#60;/span> Print
    &#60;/a&#62;<br clear="all" /> <br /> 
            
         </code>
      </div>
      <!-- /.container --> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/csi.min.js"></script>
      
   </body>
</html>
