<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Template</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/custom.css">
      <link href="../fonts/iconizr-svg-sprite.css" rel="stylesheet" type="text/css" media="all"/>

  


   </head>
   <body>

      <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu">
         <div data-include="../css3-sidebar.html"></div>
      </div> <!-- /.navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu --> 

      <div class="container">

      <h2>Buttons</h2>

<!-- /.tab container  --> 
   <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="pill" href="#usage">Design guideline</a></li>
    <li><a data-toggle="pill" href="#codeview">Code View</a></li>
  </ul>
  
  <div class="tab-content">

    <div id="usage" class="tab-pane fade in active">


      <h3>Sizes</h3>
     
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <p> <img src="../img/buttons001.png"></p>

       <h3>States Fill &amp; Stroke Specifications</h3>

    <p> <img src="../img/buttons002.png"></p>

      <!-- <h2>States Fill &amp; Stroke Specifications</h2> -->

        


      <h3>Button Interaction Details</h3>

<h4>Primary vs. Secondary Buttons</h4>

<p>Primary - use for the primary action that the user must take on the page.</p>
<p>Primary and secondary - use both when there is a choice between two actions and we can recommend one action over the other and/or the secondary button is used to cancel out of the action.</p>
<p>If multiple actions have equal value then use all primary buttons. </p>
<p>Tertiary Buttons used when not the main action on the page.</p>

<h3>Large vs. Small Buttons</h3>
<p>Use the Large button sizes almost exclusively in designs. Exceptions are when there is not enough room on the page for the 42px height (example: inside a table)</p>
<p>If there are multiple choices for non-primary actions on the page then use the tertiary button for of those actions. See examples below.</p>
<p>*Critical tasks should not depend on disabled buttons in order to understand the action.</p>


<h3>Other Types of Button</h3>

<p>Input with dropdown</p>



 <p><img src="../img/buttons003.png"></p>


<p>See drop down section of guide to find interaction detail on the input with dropdown button (follows the same details as other drop downstyles)</p>

<h3>Toggle buttons</h3>

 <p> <img src="../img/buttons004.png"></p>


<p>The Toggle Button is divided into two segments and behaves as a single-selection control, allowing the user to click and immediately initiate an action.</p>
<p>The toggle state allows you to highlight the current state. Ex.: Yes/No, On/Off. It should use the FI primary accent color or the default color of #666666 in the on state.</p>

<p>Links as buttons</p>
<p>Link  Default color is #0055CC, should use FI link color</p>
<p>A link is used to take action or initiate an action.</p>
<p>They should be used when there are multiple actions to be taken on the page and using a push button would make the page visually heavy.</p>

<ul id="myList" style="list-style-type: disc;">
<li>Links are underlined or have an icon near them to indicate it is a tappable area for accessibility. </li> 
<li>When the link is selected (hover, focus, or active) the underline disappears.</li> 
<li>They should follow the branding color for links - FI Primary accent color (default color #0055CC). </li> 
<li>The minimum font size for links is .875 em and the maximum is 1.125 em.</li> 
<li>They can sometimes contain icons to the right of the link, but icons are not mandatory.</li> 
<li>The rules for labeling apply to link buttons as well (shown later).</li> 
<li>For Link buttons to be tablet-friendly, the padding around the link should be big enough for a user to select by touch. Height for the target area should be 42px.</li> 
</ul>

<p>Stand alone link</p>
<a href="#">Link</a>  
<p>The padding around the stand alone link (when not as a part of other Link non-link text) should be large enough for user to select by touch without tapping something else accidentaly: 20 px min each side to next tappable area.</p>


 <p> <img src="../img/buttons005.png"></p>

  <p> <img src="../img/buttons006.png"></p>

<h4>Processing</h4>
<p>For processes that take several seconds, disable the submit button until the process is complete and the user receives confirmation feedback.</p>


<h3>Examples</h3>
<hr /> 
<p>How to use buttons on an overlay</p>
<p>They are left-aligned to the bottom left corner of the overlay.</p>
<p>Overlays also use the close icon button placed in the top right corner. This usually closes the overlay without any confirmation.</p>
<br />
<p>For accessibility:<br /> 
when an overlay opens, default focus is on the close button. Tab order moves from close to the overlay content to the primary button and then to the secondary button. Recommended practice: source order determines the path, as opposed to changing tab index of elements.</p>


<p> <img src="../img/buttons007.png"></p>

<br clear="all" /><br /> 

 
 </div><!-- /#usage --> 

    <div id="codeview" class="tab-pane fade">
      <h3>Code View</h3>

      <div class="container">
  

  <h1>Buttons </h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <p><strong>EXAMPLE</strong></p>

        <h2>Buttons</h2>
  <button type="button" class="btn btn-primary btn-lg">Large</button>
  <br clear="all" /> <br /> 
  <button type="button" class="btn btn-primary btn-sm">Small</button>
  <br clear="all" /> <br /> 
  <button type="button" class="btn btn-primary disabled">Disabled Primary</button>
  <br clear="all" /> <br /> 
<a href="#" class="btn btn-primary btn-lg">
      <span class="glyphicon glyphicon-print"></span> Print
    </a>


         <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <pre class="prettyprint linenums">
           
            &lt;button type="button" class="btn btn-primary btn-lg">Large&#60;/button&gt;<br clear="all" /> <br /> 
 
  &lt;button type="button" class="btn btn-primary btn-sm">Small&#60;/button&gt;<br clear="all" /> <br /> 

  &lt;button type="button" class="btn btn-primary disabled">Disabled Primary&#60;/button&gt;<br clear="all" /> <br /> 

&#60;a href="#" class="btn btn-primary btn-lg"&gt;<br />
      &lt;span class="glyphicon glyphicon-print">&#60;/span> Print
    &lt;/a&gt;<br clear="all" /> <br /> 
            
         </pre>

    </div><!-- /#codeview --> 
  </div> <!-- /.tab-content --> 
<!-- /.tab container  --> 

      </div><!-- /.container -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/csi.min.js"></script>

    


   </body>
</html>