<!DOCTYPE html>
<html lang="en">
<head>
  <title>Colors</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <style>

  .col-lg-3 {color:white;text-align: center;height:100px;}
  .danger-color {background-color: #ff4444;}
  .warning-color {background-color: #ffbb33;}
  .success-color {background-color: #00C851;}
  .info-color {background-color: #33b5e5;}
  .danger-color-dark {background-color: #CC0000;}
  .warning-color-dark {background-color: #FF8800;}
  .success-color-dark {background-color: #007E33;}
  .info-color-dark {background-color: #0099CC;}

  </style>

</head>
<body>


      <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu">
         <div data-include="../css3-sidebar.html"></div>
      </div> <!-- /.navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu --> 


<div class="container">

 <h1>Colors </h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

         <p><strong>EXAMPLE</strong></p>
  
  <div class="row">

    <div class="col-lg-3 danger-color">
      <h5>danger-color</h5>
      <h5>#ff4444</h5>
    </div>
    <div class="col-lg-3 warning-color">
      <h5>warning-color</h5>
      <h5>#ffbb33</h5>
    </div>
    <div class="col-lg-3 success-color">
      <h5>success-color</h5>
      <h5>#00C851</h5>
    </div>
    <div class="col-lg-3 info-color">
      <h5>info-color</h5>
      <h5>#33b5e5</h5>
    </div>

  </div><!-- /.row --> 

   <div class="row">

    <div class="col-lg-3 danger-color-dark">
      <h5>danger-color-dark</h5>
      <h5>#CC0000</h5>
    </div>
    <div class="col-lg-3 warning-color-dark">
      <h5>warning-color-dark</h5>
      <h5>#FF8800</h5>
    </div>
    <div class="col-lg-3 success-color-dark">
      <h5>success-color-dark</h5>
      <h5>#007E33</h5>
    </div>
    <div class="col-lg-3 info-color-dark">
      <h5>info-color-dark</h5>
      <h5>#0099CC</h5>
    </div>
    
  </div><!-- /.row --> 

   <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <code>
             
             
         </code>

</div><!-- /.container --> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../js/csi.min.js"></script>

</body>
</html>

