<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Modal </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <h1>Modal </h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <p><strong>EXAMPLE</strong></p>
  
       <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
       
         <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <code>
            
          
            
         </code>
       
           <br clear="all" /> <br /> 
       
          <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
   <ul class="dropdown-menu multi-column columns-2">
              <div class="row">
               <div class="col-sm-6">
                <ul class="multi-column-dropdown">
                 <li><a href="#">Action</a></li>
                 <li><a href="#">Another action</a></li>
                 <li><a href="#">Something else here that's extra long so we can see how it looks</a></li>
                 <li class="divider"></li>
                 <li><a href="#">Separated link</a></li>
                 <li class="divider"></li>
                 <li><a href="#">One more separated link</a></li>
                </ul>
               </div>
               <div class="col-sm-6">
                <ul class="multi-column-dropdown">
                 <li><a href="#">Action</a></li>
                 <li><a href="#">Another action</a></li>
                 <li><a href="#">Something else here</a></li>
                 <li class="divider"></li>
                 <li><a href="#">Separated link</a></li>
                 <li class="divider"></li>
                 <li><a href="#">One more separated link</a></li>
                </ul>
  </div>



         <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <code>
            
          
            
         </code>
         
         
      </div>
      <!-- /.container --> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
   </body>
</html>
