<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Drop-down </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      
      <style>
         .dropdown-responsive {
            width: 100%;
            height:50px;
         }
         
      </style>   
      
      
   </head>
   <body>
      <div class="container">
         <h1>Drop-down</h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <p><strong>EXAMPLE</strong></p>
  
       <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
       
         <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <code>
            
            &#60;div class="dropdown"&#62;<br /> 
    &#60;button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"&#62;Dropdown Example<br /> 
    &#60;span class="caret"&#62;&#60;/span&#62;&#60;/button&#62;<br /> 
    &#60;ul class="dropdown-menu"&#62;<br /> 
      &#60;li&#62;&#60;a href="#"&#62;HTML&#60;/a&#62;&#60;/li&#62;<br /> 
      &#60;li&#62;&#60;a href="#"&#62;CSS&#60;/a&#62;&#60;/li&#62;<br /> 
      &#60;li&#62;&#60;a href="#"&#62;JavaScript&#60;/a&#62;&#60;/li&#62;<br /> 
    &#60;/ul&#62;<br /> 
  &#60;/div&#62;<br clear="all" /> <br /> 
            
         </code>
       
           <br clear="all" /> <br /> 
         
         <h4> Responsive Drop-Down Menu</h4>
       
           <div class="dropdown dropdown-responsive">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>



         <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <code>
       
          
            
         </code>
         
         
      </div>
      <!-- /.container --> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
   </body>
</html>
