<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test Case: Bootstrap Centered Dynamic Tabs and Pills</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->

</head>
<body>

<div class="container">

 <img src="http://placehold.it/600x250">
  
<!-- /.tab container  --> 
   <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="pill" href="#usage">Design guideline</a></li>
    <li><a data-toggle="pill" href="#codeview">Code View</a></li>
  </ul>
  
  <div class="tab-content">

    <div id="usage" class="tab-pane fade in active">
   
       <!-- /.content goes here --> 

    </div><!-- /#usage --> 

    <div id="codeview" class="tab-pane fade">
 
       <!-- /.content goes here --> 

    </div><!-- /#codeview --> 
  </div> <!-- /.tab-content --> 
<!-- /.tab container  --> 


</div> <!-- /.container --> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

</body>
</html>

