<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Template</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/custom.css">




   </head>
   <body>

      <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu">
         <div data-include="../css3-sidebar.html"></div>
      </div> <!-- /.navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu --> 

      <div class="container">



 <h1>Form </h1>
         <hr />

<!-- /.tab container  --> 
   <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="pill" href="#usage">Design guideline</a></li>
    <li><a data-toggle="pill" href="#codeview">Code View</a></li>
  </ul>
  
  <div class="tab-content">

    <div id="usage" class="tab-pane fade in active">
      

         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>


  </div><!-- /#usage --> 

    <div id="codeview" class="tab-pane fade">
      <h3>Code View</h3>
       <!-- /.content goes here --> 

         <p><strong>EXAMPLE</strong></p>

         <h2>Basic Form</h2>
  <form>
    <div class="form-group">
      <label for="email">Email Address:</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
       
        <br clear="all" /> <br /> 
  
   <p><strong>CODE VIEW</strong></p>
         <code>
         
         &#60;form&#62;<br />
    &#60;div class="form-group"&#62;<br />
      &#60;label for="email"&#62;Email Address:&#60;/label&#62;<br />
      &#60;input type="email" class="form-control" id="email" placeholder="Email"&#62;<br />
    &#60;/div&#62;<br />
    &#60;div class="form-group"&#62;<br />
      &#60;label for="pwd"&#62;Password:&#60;/label&#62;<br />
      &#60;input type="password" class="form-control" id="pwd" placeholder="Password"&#62;<br />
    &#60;/div&#62;<br />
    &#60;div class="checkbox"&#62;<br />
      &#60;label&#62;&#60;input type="checkbox"&#62; Remember me&#60;/label&#62;<br />
    &#60;/div&#62;<br />
    &#60;button type="submit" class="btn btn-primary"&#62;Submit&#60;/button&#62;<br />
  &#60;/form&#62;<br clear="all" /> <br />    
         
            
         </code>
       <br clear="all" /> <br /> 
        
         <h2>Horizontal form</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
  
  <br clear="all" /> <br /> 
  
   <p><strong>CODE VIEW</strong></p>
         <code>
            
             &#60;form class="form-horizontal"&#62;<br />  
    &#60;div class="form-group"&#62;<br />  
      &#60;label class="control-label col-sm-2" for="email"&#62;Email:&#60;/label&#62;<br />  
      &#60;div class="col-sm-10"&#62;<br />  
        &#60;input type="email" class="form-control" id="email" placeholder="Enter email"&#62;<br />  
      &#60;/div&#62;<br />  
    &#60;/div&#62;<br />  
    &#60;div class="form-group"&#62;<br />  
      &#60;label class="control-label col-sm-2" for="pwd"&#62;Password:&#60;/label&#62;<br />  
      &#60;div class="col-sm-10"&#62;<br />  
        &#60;input type="password" class="form-control" id="pwd" placeholder="Enter password"&#62;<br />  
      &#60;/div&#62;<br />  
    &#60;/div&#62;<br />  
    &#60;div class="form-group"&#62;<br />  
      &#60;div class="col-sm-offset-2 col-sm-10"&#62;<br />  
        &#60;div class="checkbox"&#62;<br />  
          &#60;label&#62;&#60;input type="checkbox"&#62; Remember me&#60;/label&#62;<br />  
        &#60;/div&#62;<br />  
      &#60;/div&#62;<br />  
    &#60;/div&#62;<br />  
    &#60;div class="form-group"&#62;<br />  
      &#60;div class="col-sm-offset-2 col-sm-10"&#62;<br />  
        &#60;button type="submit" class="btn btn-default"&#62;Submit&#60;/button&#62;<br />  
      &#60;/div&#62;<br />  
    &#60;/div&#62;<br clear="all" /> <br />   
         
            
         </code>
       <br clear="all" /> <br /> 
       
  <h2>Inline form</h2>
  <p>Make the viewport larger than 768px wide to see that all of the form elements are inline, left aligned, and the labels are alongside.</p>
  <form class="form-inline">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>


         <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <code>
            
          &#60;form class="form-inline"&#62;<br />  
    &#60;div class="form-group"&#62;<br />  
      &#60;label for="email"&#62;Email:&#60;/label&#62;<br />  
      &#60;input type="email" class="form-control" id="email" placeholder="Enter email"&#62;<br />  
    &#60;/div&#62;<br />  
    &#60;div class="form-group"&#62;<br />  
      &#60;label for="pwd"&#62;Password:&#60;/label&#62;<br />  
      &#60;input type="password" class="form-control" id="pwd" placeholder="Enter password"&#62;<br />  
    &#60;/div&#62;<br />  
    &#60;div class="checkbox"&#62;<br />  
      &#60;label&#62;&#60;input type="checkbox"&#62; Remember me&#60;/label&#62;<br />  
    &#60;/div&#62;<br />  
    &#60;button type="submit" class="btn btn-default"&#62;Submit&#60;/button&#62;<br />  
  &#60;/form&#62;<br clear="all" /> <br /> 
            
         </code>
  
     </div><!-- /#codeview --> 
  </div> <!-- /.tab-content --> 
<!-- /.tab container  --> 

      </div><!-- /.container -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/csi.min.js"></script>


    


   </body>
</html>