<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Test Case: Toggle Switch</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <h1>SVG Icons </h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <p><strong>EXAMPLE</strong></p>

         <div class="bs-glyphicons">
            <ul class="bs-glyphicons-list">
               <li> <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> <span class="glyphicon-class">glyphicon glyphicon-asterisk</span> </li>
              
            </ul>
         </div>
         <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <code>
            <p>Enabled Switch</p>
            <div class="checkbox"><br />
            <label><br />
            <input type="checkbox" data-toggle="toggle"><br />
            Option one is enabled<br />
            </label><br />
            </div><br clear="all" /> <br />    
            <p>Disabled Switch</p>
            <div class="checkbox disabled"><br />
            <label><br />
            <input type="checkbox" disabled data-toggle="toggle"><br />
            Option two is disabled<br />
            </label><br />
            </div> <br clear="all" /> <br /> 
         </code>
      </div>
      <!-- /.container --> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/bootstrap-toggle.min.js"></script>
   </body>
</html>
