<!DOCTYPE html>
<html lang="en">
<head>
  <title>Colors</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/bootstrap.min.css">


  <style>

  .current-color-accounts {background-image: url("../fonts/current-color/accounts.svg");
    background-repeat: no-repeat;}


  </style>


</head>
<body>


<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu">
         <div data-include="../css3-sidebar.html"></div>
      </div> <!-- /.navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu --> 

<div class="container">


 <h1>Colors </h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

         <h4>Current Color</h4>
  
  <div class="row">

    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/current-color/accounts.svg" /> 
      <h5>.accounts</h5>
    </div>
    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/current-color/add.svg" /> 
      <h5>.add</h5>
    </div>
    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/current-color/alert-fill.svg" /> 
      <h5>.alert-fill</h5>
    </div>
    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/current-color/alert-outline.svg" /> 
      <h5>.alert-outline</h5>
    </div>
    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/current-color/back.svg" /> 
      <h5>.back</h5>
    </div>

    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/current-color/bill-pay.svg" /> 
      <h5>.bill-pay</h5>
    </div>
    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/current-color/calendar.svg" /> 
      <h5>.calendar</h5>
    </div>
    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/current-color/call.svg" /> 
      <h5>.call</h5>
    </div>
    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/current-color/check-image.svg" /> 
      <h5>.check-image</h5>
    </div>
    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/current-color/checkmark.svg" /> 
      <h5>.checkmark</h5>
    </div>

  </div><!-- /.row --> 

<br clear="all" /><br />

 <h4>Fixed Colors</h4>

  <div class="row">

    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/fixed-color/alert-error.svg" /> 
      <h5>.alert-error</h5>
    </div>
    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/fixed-color/alert-warning.svg" /> 
      <h5>.alert-warning</h5>
    </div>
    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/fixed-color/scheduled.svg" /> 
      <h5>.scheduled</h5>
    </div>
    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/fixed-color/success.svg" /> 
      <h5>.success</h5>
    </div>
    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/fixed-color/turbo-tax.svg" /> 
      <h5>.turbo-tax</h5>
    </div>   

  </div><!-- /.row --> 

 <br clear="all" /><br />

  <h4>Loaders</h4>

  <div class="row">

    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/loaders/page-loader.svg" /> 
      <h5>.page-loader</h5>
    </div>
    <div class="col-lg-1">
      <img class="img-responsive" src="../fonts/loaders/small-loader.svg" /> 
      <h5>.small-loader</h5>
    </div>

  </div><!-- /.row --> 

 

   <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <code>
             
             
         </code>

</div><!-- /.container --> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="../js/bootstrap.min.js"></script>
   <script src="../js/csi.min.js"></script>

</body>
</html>

