<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  
  <style>

    /* CSS used here will be applied after bootstrap.css */
    .badge-notify-left{
     background:red;
     position:relative;
     top: -20px;
     left: -35px;
   }

   .badge-notify-right{
     background:red;
     position:relative;
     top: -20px;
     left: -55px;
   }

   .icon-size {font-size:36px;}

 </style>


</head>
<body>



 <div class="container">

  <h3>Menu Badge Icon</h3>
  
  <p>Left Icon</p> 
  
  <button class="btn btn-lg btn-link icon-size">
    <span class="glyphicon glyphicon-bell"></span>
  </button>
  <span class="badge badge-notify-left">3</span>
  
  
  <button class="btn btn-lg btn-link icon-size">
   <span class="glyphicon glyphicon-comment"></span>
 </button>
 <span class="badge badge-notify-left">3</span>


 <button class="btn btn-lg btn-link icon-size">
   <span class="glyphicon glyphicon-envelope"></span>
 </button>
 <span class="badge badge-notify-left">3</span>


 <p>Right Icon</p> 

 <button class="btn btn-lg btn-link icon-size">
  <span class="glyphicon glyphicon-bell"></span>
</button>
<span class="badge badge-notify-right">3</span>


<button class="btn btn-lg btn-link icon-size">
 <span class="glyphicon glyphicon-comment"></span>
</button>
<span class="badge badge-notify-right">3</span>


<button class="btn btn-lg btn-link icon-size">
 <span class="glyphicon glyphicon-envelope"></span>
</button>
<span class="badge badge-notify-right">3</span>

<br clear="all" /> <br /> 

<div class="row">
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="pill" href="#usage">Usage</a></li>
    <li><a data-toggle="pill" href="#codeview">Code View </a></li>
  </ul>
  
  <div class="tab-content">
    <div id="usage" class="tab-pane fade in active">
      <h4>Usage</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="codeview" class="tab-pane fade">
      <h4>Code View</h4>
 
       <code>


       <p>Left Icon</p> 
  
   &#60;button class="btn btn-default btn-lg btn-link icon-size"&#62;<br /> 
     &#60;span class="glyphicon glyphicon-bell"&#62; &#60;/span&#62;<br /> 
   &#60;/button&#62;<br /> 
   &#60;span class="badge badge-notify-left"&#62;3 &#60;/span&#62;<br /> 
   <br /> 
  
  
   &#60;button class="btn btn-default btn-lg btn-link icon-size"&#62;<br /> 
    &#60;span class="glyphicon glyphicon-comment"&#62; &#60;/span&#62;<br /> 
  &#60;/button&#62;<br /> 
  &#60;span class="badge badge-notify-left"&#62; 3 &#60;/span&#62;<br /> 
  <br /> 


  &#60;button class="btn btn-default btn-lg btn-link icon-size"&#62;<br /> 
    &#60;span class="glyphicon glyphicon-envelope"&#62; &#60;/span&#62;<br /> 
  &#60;/button&#62;<br /> 
  &#60;span class="badge badge-notify-left"&#62; 3 &#60;/span&#62;<br /> 
  <br /> 

       <p>Right Icon</p> 

 &#60;button class="btn btn-default btn-lg btn-link icon-size"&#62;<br /> 
  &#60;span class="glyphicon glyphicon-bell"&#62;&#60;/span&#62;<br /> 
  &#60;/button&#62;<br /> 
&#60;span class="badge badge-notify-right"&#62;3&#60;/span&#62;<br /> <br /> 


&#60;button class="btn btn-default btn-lg btn-link icon-size"&#62;<br /> 
 &#60;span class="glyphicon glyphicon-comment"&#62;&#60;/span&#62;<br /> 
&#60;/button&#62;<br /> 
&#60;span class="badge badge-notify-right"&#62;3&#60;/span&#62;<br /> <br /> 


&#60;button class="btn btn-default btn-lg btn-link icon-size"&#62;<br /> 
 &#60;span class="glyphicon glyphicon-envelope"&#62;&#60;/span&#62;<br /> 
&#60;/button&#62;<br /> 
&#60;span class="badge badge-notify-right"&#62;3&#60;/span&#62;<br /> <br /> 


      </code>


  </div>
</div>
</div>


</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>

