<!DOCTYPE html>
<html lang="en">
<head>
  <title>Popover</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  
  <style>
   .container {padding:20px;}
   .popover {max-width:400px;}
  </style>
 
</head>
<body>

<div class="container">
  <h3>Popovers</h3>
	
<a href="#" type="button" data-toggle="popover" data-placement="left" data-html="true" id="login">
   <span class="glyphicon glyphicon-search" style="margin:3px 0 0 0"></span>
</a>

<a href="#" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" data-html="true" id="login">
   <span class="glyphicon glyphicon-search" style="margin:3px 0 0 0"></span>
</a>
	
<a href="#" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-html="true" id="login">
   <span class="glyphicon glyphicon-search" style="margin:3px 0 0 0"></span>
</a>
	
<a href="#"  type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" data-html="true" id="login">
   <span class="glyphicon glyphicon-search" style="margin:3px 0 0 0"></span>
</a>
	


	    <!--a data-placement="bottom" data-toggle="popover" data-container="body" data-placement="left" type="button" data-html="true" href="#" id="login">
		 <span class="glyphicon glyphicon-search" style="margin:3px 0 0 0"></span></a-->

    <div id="popover-content" class="hide">
     <ul style="list-style-type:circle">
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ul>
    </div><!-- /#popover-content --> 
	

</div> <!-- /.container --> 
  
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>

<script>
$("[data-toggle=popover]").popover({
    html: true, 
	content: function() {
          return $('#popover-content').html();
        }
});

</script>

</body>
</html>

