<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Template</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/custom.css">

      <style>
       .close {margin: 0 0.5em;}
 
      </style>
 


   </head>
   <body>

      <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu">
         <div data-include="../css3-sidebar.html"></div>
      </div> <!-- /.navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu --> 

      <div class="container">

        <h3>Modal Popovers (<span style="font-size:15px;">.bootstrap-modal-popover.js</span>)</h3>
  
   <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        
         <p><strong>EXAMPLE</strong></p>

<!-- Button to launch modal popover -->

   <a href="#popupBottom" role="button" class="btn btn-default" data-toggle="modal-popover" data-placement="bottom">Bottom</a>
   <a href="#popupTop" role="button" class="btn btn-default" data-toggle="modal-popover" data-placement="top">Top</a>
   <a href="#popupLeft" role="button" class="btn btn-default" data-toggle="modal-popover" data-placement="left">Left</a>
   <a href="#popupRight" role="button" class="btn btn-default" data-toggle="modal-popover" data-placement="right">Right</a>


<div id="popupBottom" class="popover">
        <div class="arrow"></div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <div class="popover-content">
            <ul>
               <li>Lorem ipsum dolor sit ame</li>
               <li>Lorem ipsum dolor sit ame</li>
               <li>Lorem ipsum dolor sit ame</li>
            </ul>
        </div>
    </div>

    <div id="popupTop" class="popover">
        <div class="arrow"></div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <div class="popover-content">
            <ul>
               <li>Lorem ipsum dolor sit ame</li>
               <li>Lorem ipsum dolor sit ame</li>
               <li>Lorem ipsum dolor sit ame</li>
            </ul>
        </div>
    </div>

    <div id="popupLeft" class="popover">
        <div class="arrow"></div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <div class="popover-content">
            <ul>
               <li>Lorem ipsum dolor sit ame</li>
               <li>Lorem ipsum dolor sit ame</li>
               <li>Lorem ipsum dolor sit ame</li>
            </ul>
        </div>
    </div>

    <div id="popupRight" class="popover">
        <div class="arrow"></div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <div class="popover-content">
            <ul>
               <li>Lorem ipsum dolor sit ame</li>
               <li>Lorem ipsum dolor sit ame</li>
               <li>Lorem ipsum dolor sit ame</li>
            </ul>
        </div>
    </div>


 <br clear="all" /> <br /> 
         
         <p><strong>CODE VIEW</strong></p>
       

<br clear="all" /> 

<pre class="prettyprint linenums">
  &lt;a href="#popupBottom" role="button" class="btn btn-default" data-toggle="modal-popover" data-placement="bottom"&gt;
  Bottom&lt;/a&gt;
     &lt;div id="popupBottom" class="popover"&gt;
       &lt;div class="arrow"&gt;&lt;/div&#62;
        &lt;button type="button" class="close" data-dismiss="modal"&gt;&times;&lt;/button&gt;
   &lt;div class="popover-content"&gt;
     &lt;ul&gt;
       &lt;li&#62;<br /> Lorem ipsum dolor sit ame&lt;/li&gt;
       &lt;li&#62;<br /> Lorem ipsum dolor sit ame&lt;/li&gt;
      &lt;li&#62;<br /> Lorem ipsum dolor sit ame&lt;/li&gt;
     &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
</pre>



      </div><!-- /.container -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/csi.min.js"></script>
       <script src="../js/bootstrap-modal-popover.js"></script>
     
    


   </body>
</html>