<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Tabs and Pills</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <h1>Toggleable / Dynamic Tabs </h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <p><strong>EXAMPLE</strong></p>

        <h2>Form control: inline radio buttons</h2>
  <form>
    <label class="radio-inline">
      <input type="radio" name="optradio">Option 1
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio">Option 2
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio">Option 3
    </label>
  </form>

         <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <code>
             &#60;form&#62;<br /> 
    &#60;label class="radio-inline"&#62;<br /> 
      &#60;input type="radio" name="optradio"&#62;Option 1
    &#60;/label&#62;<br /> 
    &#60;label class="radio-inline"&#62;<br /> 
      &#60;input type="radio" name="optradio"&#62;Option 2
    &#60;/label&#62;<br /> 
    &#60;label class="radio-inline"&#62;<br /> 
      &#60;input type="radio" name="optradio"&#62;Option 3
    &#60;/label&#62;<br /> 
  &#60;/form&#62;<br clear="all" /> <br /> 
           
         </code>
         
                <br clear="all" /> <br /> 
                
                 <h2>Form control: inline checkbox</h2>
  <p>The form below contains three inline checkboxes:</p>
  <form>
    <label class="checkbox-inline">
      <input type="checkbox" value="">Option 1
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="">Option 2
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="">Option 3
    </label>
  </form>
  
   <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <code>
            

  &#60;form&#62;<br /> 
    &#60;label class="checkbox-inline"&#62;<br /> 
      &#60;input type="checkbox" value=""&#62;Option 1
    &#60;/label&#62;<br /> 
    &#60;label class="checkbox-inline"&#62;<br /> 
      &#60;input type="checkbox" value=""&#62;Option 2
    &#60;/label&#62;<br /> 
    &#60;label class="checkbox-inline"&#62;<br /> 
      &#60;input type="checkbox" value=""&#62;Option 3
    &#60;/label&#62;<br /> 
  &#60;/form&#62;<br clear="all" /> <br />            
         </code>
         
           <br clear="all" /> <br /> 
           
            <h2>Form control: radio buttons</h2>
  <p>The form below contains three radio buttons. The last option is disabled:</p>
  <form>
    <div class="radio">
      <label><input type="radio" name="optradio">Option 1</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Option 2</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="optradio" disabled>Option 3</label>
    </div>
  </form>
  
    <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <code>
           
   &#60;form&#62;<br /> 
    &#60;div class="radio"&#62;<br /> 
      &#60;label&#62;&#60;input type="radio" name="optradio"&#62;Option 1&#60;/label&#62;<br /> 
    &#60;/div&#62;<br /> 
    &#60;div class="radio"&#62;<br /> 
      &#60;label&#62;&#60;input type="radio" name="optradio"&#62;Option 2&#60;/label&#62;<br /> 
    &#60;/div&#62;<br /> 
    &#60;div class="radio disabled"&#62;<br /> 
      &#60;label&#62;&#60;input type="radio" name="optradio" disabled&#62;Option 3&#60;/label&#62;<br /> 
    &#60;/div&#62;<br /> 
  &#60;/form&#62;<br clear="all" /> <br />  
           
         </code>
         
      </div>
      <!-- /.container --> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
   </body>
</html>
