<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Tables</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <h1>Basic Tables </h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <p><strong>EXAMPLE</strong></p>

        <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
   



         <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <code>
            
           &#60;table class="table"&#62;<br />   
    &#60;thead&#62;<br />   
      &#60;tr&#62;<br />   
        &#60;th&#62;Firstname&#60;/th&#62;<br />   
        &#60;th&#62;Lastname&#60;/th&#62;<br />   
        &#60;th&#62;Email&#60;/th&#62;<br />   
      &#60;/tr&#62;<br />   
    &#60;/thead&#62;<br />   
    &#60;tbody&#62;<br />   
      &#60;tr&#62;<br />   
        &#60;td&#62;John&#60;/td&#62;<br />   
        &#60;td&#62;Doe&#60;/td&#62;<br />   
        &#60;td&#62;john@example.com&#60;/td&#62;<br />   
      &#60;/tr&#62;<br />   
      &#60;tr&#62;<br />   
        &#60;td&#62;Mary&#60;/td&#62;<br />   
        &#60;td&#62;Moe&#60;/td&#62;<br />   
        &#60;td&#62;mary@example.com&#60;/td&#62;<br />   
      &#60;/tr&#62;<br />   
      &#60;tr&#62;<br />   
        &#60;td&#62;July&#60;/td&#62;<br />   
        &#60;td&#62;Dooley&#60;/td&#62;<br />   
        &#60;td&#62;july@example.com&#60;/td&#62;<br />   
      &#60;/tr&#62;<br />   
    &#60;/tbody&#62;<br />   
  &#60;/table&#62;<br clear="all" />   <br />   

            
         </code>
      </div>
      <!-- /.container --> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
   </body>
</html>
