<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Template</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/custom.css">
      <link rel="stylesheet" href="../css/bootstrap-toggle.min.css">


   </head>
   <body>

      <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu">
         <div data-include="../css3-sidebar.html"></div>
      </div> <!-- /.navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu --> 

      <div class="container">

      <h1>Toggle</h1>

<hr /> 

    <!-- tab container --> 

   <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="pill" href="#usage">Usage</a></li>
    <li><a data-toggle="pill" href="#codeview">Code View</a></li>
  </ul>
  
  <div class="tab-content">

    <div id="usage" class="tab-pane fade in active">
      <h3>Design guideline</h3>
       <!-- /.content goes here -->   

    

  <p>There are two sizes for toggles: small and large. The use of each depends on size constraints on the page.</p> 
 <p>Toggles are used for an option that the user can turn on or off. </p>
 <p>Selected color for the toggle when “ON” is displayed is the FI primary accent color, if this color information is not available then the default color is #666666</p>
 <p>Use default browser focus state.</p>


<img src="http://placehold.it/600x250">


 </div><!-- /#usage --> 

    <div id="codeview" class="tab-pane fade">
      <h3>Code View</h3>
       <!-- /.content goes here --> 

   <p><strong>EXAMPLE</strong></p> 

 <div class="checkbox">
  <label>
    <input type="checkbox" data-toggle="toggle">
    Enabled Switch
  </label>
</div>   <!-- /.checkbox -->

<br />

<div class="checkbox disabled">
  <label>
    <input type="checkbox" disabled data-toggle="toggle">
    Disabled Switch
  </label>
</div> <!-- /.checkbox disabled -->

<br clear="all" /> <br /> 


  <p><strong>CODE VIEW</strong></p> 

<code> 

<p>Enabled Switch</p>

 &#60;div class="checkbox"&#62;<br />
  &#60;label&#62;<br />
    &#60;input type="checkbox" data-toggle="toggle"&#62;<br />
    Option one is enabled<br />
  &#60;/label&#62;<br />
&#60;/div&#62;<br clear="all" /> <br />    

  <p>Disabled Switch</p>

&#60;div class="checkbox disabled"&#62;<br />
  &#60;label&#62;<br />
    &#60;input type="checkbox" disabled data-toggle="toggle"&#62;<br />
    Option two is disabled<br />
  &#60;/label&#62;<br />
&#60;/div&#62; <br clear="all" /> <br /> 

</code>

    </div><!-- /#codeview --> 
  </div> <!-- /.tab-content --> 
<!-- /.tab container  --> 

      </div><!-- /.container -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/csi.min.js"></script>
      <script src="../js/bootstrap-toggle.min.js"></script>

   </body>
</html>