<!DOCTYPE html>
<html lang="en">
<head>
  <title>Colors</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="../css/bootstrap.min.css">



</head>
<body>

 <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu">
         <div data-include="../css3-sidebar.html"></div>
      </div> <!-- /.navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu --> 

<div class="container">

 <h1>Tooltips </h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>


         <p><strong>EXAMPLE</strong></p>
  
   <ul class="list-inline">
    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!">Top</a></li>
    <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Hooray!">Bottom</a></li>
    <li><a href="#" data-toggle="tooltip" data-placement="left" title="Hooray!">Left</a></li>
    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Hooray!">Right</a></li>
  </ul>

   <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <code>
           
             &#60;ul class="list-inline"&#62;<br />
    &#60;li&#62;&#60;a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!"&#62;Top&#60;/a&#62;&#60;/li&#62;<br />
    &#60;li&#62;&#60;a href="#" data-toggle="tooltip" data-placement="bottom" title="Hooray!"&#62;Bottom&#60;/a&#62;&#60;/li&#62;<br />
    &#60;li&#62;&#60;a href="#" data-toggle="tooltip" data-placement="left" title="Hooray!"&#62;Left&#60;/a&#62;&#60;/li&#62;<br />
    &#60;li&#62;&#60;a href="#" data-toggle="tooltip" data-placement="right" title="Hooray!"&#62;Right&#60;/a&#62;&#60;/li&#62;<br />
  &#60;/ul&#62;<br clear="all" /><br />  
             
         </code>

</div><!-- /.container --> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="../js/bootstrap.min.js"></script>
 <script src="../js/csi.min.js"></script>

  <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

</body>
</html>

