<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Test Case: Toggle Switch</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <h1>Typography </h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <p><strong>EXAMPLE</strong></p>

 
  <h1>h1 Bootstrap heading (36px)</h1>
  <h2>h2 Bootstrap heading (30px)</h2>
  <h3>h3 Bootstrap heading (24px)</h3>
  <h4>h4 Bootstrap heading (18px)</h4>
  <h5>h5 Bootstrap heading (14px)</h5>
  <h6>h6 Bootstrap heading (12px)</h6>

         <br clear="all" /> <br /> 
         <p><strong>CODE VIEW</strong></p>
         <code>
              &#60;h1 &#62;h1 Bootstrap heading (36px) &#60;/h1&#62;<br /> 
              &#60;h2&#62;h2 Bootstrap heading (30px) &#60;/h2&#62;<br /> 
              &#60;h3&#62;h3 Bootstrap heading (24px) &#60;/h3&#62;<br />
              &#60;h4&#62;h4 Bootstrap heading (18px) &#60;/h4&#62;<br />
              &#60;h5&#62;h5 Bootstrap heading (14px) &#60;/h5&#62;<br />
              &#60;h6&#62;h6 Bootstrap heading (12px) &#60;/h6&#62;<br />
         </code>
      </div>
      <!-- /.container --> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
   </body>
</html>
