<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Template</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/custom.css">


   </head>
   <body>

      <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu">
         <div data-include="../css3-sidebar.html"></div>
      </div> <!-- /.navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu --> 

      <div class="container">
<h1>Typography </h1>
         <hr />
  
<!-- /.tab container  --> 
   <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="pill" href="#usage">Design guideline</a></li>
    <li><a data-toggle="pill" href="#codeview">Code View</a></li>
  </ul>
  
  <div class="tab-content">

    <div id="usage" class="tab-pane fade in active">
   

         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <p><strong>EXAMPLE</strong></p>

 
  <h1>h1 Bootstrap heading (36px)</h1>
  <h2>h2 Bootstrap heading (30px)</h2>
  <h3>h3 Bootstrap heading (24px)</h3>
  <h4>h4 Bootstrap heading (18px)</h4>
  <h5>h5 Bootstrap heading (14px)</h5>
  <h6>h6 Bootstrap heading (12px)</h6>

 </div><!-- /#usage --> 

    <div id="codeview" class="tab-pane fade">
      <h3>Code View</h3>
         <code>
               &lt;h1&gt;h1 Bootstrap heading (36px)  &lt;/h1&gt;<br /> 
               &lt;h2&gt;h2 Bootstrap heading (30px)  &lt;/h2&gt;<br /> 
               &lt;h3&gt;h3 Bootstrap heading (24px)  &lt;/h3&gt;<br />
               &lt;h4&gt;h4 Bootstrap heading (18px)  &lt;/h4&gt;<br />
               &lt;h5&gt;h5 Bootstrap heading (14px)  &lt;/h5&gt;<br />
               &lt;h6&gt;h6 Bootstrap heading (12px)  &lt;/h6&gt;<br />
         </pre>

 </div><!-- /#codeview --> 
  </div> <!-- /.tab-content --> 
<!-- /.tab container  --> 

      </div><!-- /.container -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/csi.min.js"></script>
    


   </body>
</html>