<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Template</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/custom.css">

  <style>

[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

  </style>


   </head>
   <body>

      <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu">
         <div data-include="../css3-sidebar.html"></div>
      </div> <!-- /.navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu --> 

      <div class="container">

     <h2>Hierarchy</h2>
         <hr />
 

         <p>These are the common page hierarchies we use.</p>


             <p><img src="../img/hierarchy01.png" class="img-responsive" alt="" ></p>

             <p><img src="../img/hierarchy02.png" class="img-responsive" alt="" ></p>

             <p><img src="../img/hierarchy03.png" class="img-responsive" alt="" ></p>

             <p><img src="../img/hierarchy04.png" class="img-responsive" alt="" ></p>

<br clear="all" /> 


      </div><!-- /.container -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/csi.min.js"></script>

      <script>

     </script>
    


   </body>
</html>