---
notes: |
  Use the Bootstrap state classes on `.form-group` to add state-specific colors:

  + `.has-success`
  + `.has-warning`
  + `.has-error`
---

<!-- Success -->
<div class="form-group has-success">
  <label for="defaultInput">Text input label</label>
  <input class="form-control" id="defaultInput" placeholder="Enter text...">
  <p class="help-block">
    <svg class="di-icon">
      <use xlink:href="/assets/icons.svg#success"></use>
    </svg>
    Success
  </p>
</div>

<!-- Warning -->
<div class="form-group has-warning">
  <label for="defaultInput">Text input label</label>
  <input class="form-control" id="defaultInput" placeholder="Enter text...">
  <p class="help-block">
    <svg class="di-icon">
      <use xlink:href="/assets/icons.svg#alert-warning"></use>
    </svg>
    Warning
  </p>
</div>

<!-- Error -->
<div class="form-group has-error">
  <label for="defaultInput">Text input label</label>
  <input class="form-control" id="defaultInput" placeholder="Enter text...">
  <p class="help-block">
    <svg class="di-icon">
      <use xlink:href="/assets/icons.svg#alert-error"></use>
    </svg>
    Error
  </p>
</div>
