/* Badges  */
.badge-notify-left{
     background:red;
     position:relative;
     top: -20px;
     left: -35px;
   }

   .badge-notify-right{
     background:red;
     position:relative;
     top: -20px;
     left: -55px;
   }

   .icon-size {font-size:36px;}
