@import url("jasny-bootstrap.min.css");
@import url("navmenu.css");

/* Off Canvas Navigation List Group Menu */

 .list-group-item { background-color: transparent /*#0048BD*/!important;border:0px!important; }
       .list-group-item h3 {color:#fff;}    
       .list-group-item:first-child { border-top-left-radius: 0px!important;border-top-right-radius:0px!important; }
       .list-group-item:last-child { margin-bottom: 0;border-bottom-right-radius:0px!important;border-bottom-left-radius:0px!important; }
       a.list-group-item,
       button.list-group-item { color: #fff!important; }
       a.list-group-item:focus,
       a.list-group-item:hover,
       button.list-group-item:focus,
       button.list-group-item:hover { background-color:#6CC3EB!important; }
       .component-divider {background-color:#6CC3EB!;}
       .img-aligment {margin: 2em 7em 0;}


/* Badges  */
.badge-notify-left{
     background:red;
     position:relative;
     top: -20px;
     left: -35px;
   }

   .badge-notify-right{
     background:red;
     position:relative;
     top: -20px;
     left: -55px;
   }

   .icon-size {font-size:36px;}


 /* Design Guidline & Code View Tab Navigation */
 .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #005496/*#337ab7*/;
}

  .nav-pills>li>a {
     border-radius: 0px; 
     border: 1px solid #000;
}