/* Icons from directory "" */
.icon-sm-accounts,.icon-sm-accounts\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-sm-accounts-dims{width:16px;height:16px}
.icon-sm-add,.icon-sm-add\:regular{background-image:url('icons/icons.svg');background-position:0 -16px;background-repeat:no-repeat}
.icon-sm-add-dims{width:16px;height:16px}
.icon-sm-alert-error,.icon-sm-alert-error\:regular{background-image:url('icons/icons.svg');background-position:0 -32px;background-repeat:no-repeat}
.icon-sm-alert-error-dims{width:16px;height:16px}
.icon-sm-alert-fill,.icon-sm-alert-fill\:regular{background-image:url('icons/icons.svg');background-position:0 -48px;background-repeat:no-repeat}
.icon-sm-alert-fill-dims{width:16px;height:16px}
.icon-sm-alert-outline,.icon-sm-alert-outline\:regular{background-image:url('icons/icons.svg');background-position:0 -64px;background-repeat:no-repeat}
.icon-sm-alert-outline-dims{width:16px;height:16px}
.icon-sm-alert-warning,.icon-sm-alert-warning\:regular{background-image:url('icons/icons.svg');background-position:0 -80px;background-repeat:no-repeat}
.icon-sm-alert-warning-dims{width:16px;height:16px}
.icon-sm-arrow,.icon-sm-arrow\:regular{background-image:url('icons/icons.svg');background-position:0 -96px;background-repeat:no-repeat}
.icon-sm-arrow-dims{width:16px;height:16px}
.icon-sm-back,.icon-sm-back\:regular{background-image:url('icons/icons.svg');background-position:0 -112px;background-repeat:no-repeat}
.icon-sm-back-dims{width:16px;height:16px}
.icon-sm-bill-pay,.icon-sm-bill-pay\:regular{background-image:url('icons/icons.svg');background-position:0 -128px;background-repeat:no-repeat}
.icon-sm-bill-pay-dims{width:16px;height:16px}
.icon-sm-calendar,.icon-sm-calendar\:regular{background-image:url('icons/icons.svg');background-position:0 -144px;background-repeat:no-repeat}
.icon-sm-calendar-dims{width:16px;height:16px}
.icon-sm-call,.icon-sm-call\:regular{background-image:url('icons/icons.svg');background-position:0 -160px;background-repeat:no-repeat}
.icon-sm-call-dims{width:16px;height:16px}
.icon-sm-check-image,.icon-sm-check-image\:regular{background-image:url('icons/icons.svg');background-position:0 -176px;background-repeat:no-repeat}
.icon-sm-check-image-dims{width:16px;height:16px}
.icon-sm-checkmark,.icon-sm-checkmark\:regular{background-image:url('icons/icons.svg');background-position:0 -192px;background-repeat:no-repeat}
.icon-sm-checkmark-dims{width:16px;height:16px}
.icon-sm-close,.icon-sm-close\:regular{background-image:url('icons/icons.svg');background-position:0 -208px;background-repeat:no-repeat}
.icon-sm-close-dims{width:16px;height:16px}
.icon-sm-computer,.icon-sm-computer\:regular{background-image:url('icons/icons.svg');background-position:0 -224px;background-repeat:no-repeat}
.icon-sm-computer-dims{width:16px;height:16px}
.icon-sm-delete,.icon-sm-delete\:regular{background-image:url('icons/icons.svg');background-position:0 -240px;background-repeat:no-repeat}
.icon-sm-delete-dims{width:16px;height:16px}
.icon-sm-down,.icon-sm-down\:regular{background-image:url('icons/icons.svg');background-position:0 -256px;background-repeat:no-repeat}
.icon-sm-down-dims{width:16px;height:16px}
.icon-sm-edit,.icon-sm-edit\:regular{background-image:url('icons/icons.svg');background-position:0 -272px;background-repeat:no-repeat}
.icon-sm-edit-dims{width:16px;height:16px}
.icon-sm-email,.icon-sm-email\:regular{background-image:url('icons/icons.svg');background-position:0 -288px;background-repeat:no-repeat}
.icon-sm-email-dims{width:16px;height:16px}
.icon-sm-forward,.icon-sm-forward\:regular{background-image:url('icons/icons.svg');background-position:0 -304px;background-repeat:no-repeat}
.icon-sm-forward-dims{width:16px;height:16px}
.icon-sm-generic-icon,.icon-sm-generic-icon\:regular{background-image:url('icons/icons.svg');background-position:0 -320px;background-repeat:no-repeat}
.icon-sm-generic-icon-dims{width:16px;height:16px}
.icon-sm-help-outline,.icon-sm-help-outline\:regular{background-image:url('icons/icons.svg');background-position:0 -336px;background-repeat:no-repeat}
.icon-sm-help-outline-dims{width:16px;height:16px}
.icon-sm-help,.icon-sm-help\:regular{background-image:url('icons/icons.svg');background-position:0 -352px;background-repeat:no-repeat}
.icon-sm-help-dims{width:16px;height:16px}
.icon-sm-hide,.icon-sm-hide\:regular{background-image:url('icons/icons.svg');background-position:0 -368px;background-repeat:no-repeat}
.icon-sm-hide-dims{width:16px;height:16px}
.icon-sm-info,.icon-sm-info\:regular{background-image:url('icons/icons.svg');background-position:0 -384px;background-repeat:no-repeat}
.icon-sm-info-dims{width:16px;height:16px}
.icon-sm-notifications,.icon-sm-notifications\:regular{background-image:url('icons/icons.svg');background-position:0 -400px;background-repeat:no-repeat}
.icon-sm-notifications-dims{width:16px;height:16px}
.icon-sm-page-loader,.icon-sm-page-loader\:regular{background-image:url('icons/icons.svg');background-position:0 -416px;background-repeat:no-repeat}
.icon-sm-page-loader-dims{width:16px;height:16px}
.icon-sm-pay-people,.icon-sm-pay-people\:regular{background-image:url('icons/icons.svg');background-position:0 -432px;background-repeat:no-repeat}
.icon-sm-pay-people-dims{width:16px;height:16px}
.icon-sm-print,.icon-sm-print\:regular{background-image:url('icons/icons.svg');background-position:0 -448px;background-repeat:no-repeat}
.icon-sm-print-dims{width:16px;height:16px}
.icon-sm-recycle,.icon-sm-recycle\:regular{background-image:url('icons/icons.svg');background-position:0 -464px;background-repeat:no-repeat}
.icon-sm-recycle-dims{width:16px;height:16px}
.icon-sm-refresh,.icon-sm-refresh\:regular{background-image:url('icons/icons.svg');background-position:0 -480px;background-repeat:no-repeat}
.icon-sm-refresh-dims{width:16px;height:16px}
.icon-sm-rename,.icon-sm-rename\:regular{background-image:url('icons/icons.svg');background-position:0 -496px;background-repeat:no-repeat}
.icon-sm-rename-dims{width:16px;height:16px}
.icon-sm-repeat,.icon-sm-repeat\:regular{background-image:url('icons/icons.svg');background-position:0 -512px;background-repeat:no-repeat}
.icon-sm-repeat-dims{width:16px;height:16px}
.icon-sm-rewards,.icon-sm-rewards\:regular{background-image:url('icons/icons.svg');background-position:0 -528px;background-repeat:no-repeat}
.icon-sm-rewards-dims{width:16px;height:16px}
.icon-sm-scheduled,.icon-sm-scheduled\:regular{background-image:url('icons/icons.svg');background-position:0 -544px;background-repeat:no-repeat}
.icon-sm-scheduled-dims{width:16px;height:16px}
.icon-sm-search,.icon-sm-search\:regular{background-image:url('icons/icons.svg');background-position:0 -560px;background-repeat:no-repeat}
.icon-sm-search-dims{width:16px;height:16px}
.icon-sm-security,.icon-sm-security\:regular{background-image:url('icons/icons.svg');background-position:0 -576px;background-repeat:no-repeat}
.icon-sm-security-dims{width:16px;height:16px}
.icon-sm-settings,.icon-sm-settings\:regular{background-image:url('icons/icons.svg');background-position:0 -592px;background-repeat:no-repeat}
.icon-sm-settings-dims{width:16px;height:16px}
.icon-sm-show,.icon-sm-show\:regular{background-image:url('icons/icons.svg');background-position:0 -608px;background-repeat:no-repeat}
.icon-sm-show-dims{width:16px;height:16px}
.icon-sm-small-loader,.icon-sm-small-loader\:regular{background-image:url('icons/icons.svg');background-position:0 -624px;background-repeat:no-repeat}
.icon-sm-small-loader-dims{width:16px;height:16px}
.icon-sm-sort,.icon-sm-sort\:regular{background-image:url('icons/icons.svg');background-position:0 -640px;background-repeat:no-repeat}
.icon-sm-sort-dims{width:16px;height:16px}
.icon-sm-stop-payment,.icon-sm-stop-payment\:regular{background-image:url('icons/icons.svg');background-position:0 -656px;background-repeat:no-repeat}
.icon-sm-stop-payment-dims{width:16px;height:16px}
.icon-sm-success,.icon-sm-success\:regular{background-image:url('icons/icons.svg');background-position:0 -672px;background-repeat:no-repeat}
.icon-sm-success-dims{width:16px;height:16px}
.icon-sm-text-mobile-alerts-outline,.icon-sm-text-mobile-alerts-outline\:regular{background-image:url('icons/icons.svg');background-position:0 -688px;background-repeat:no-repeat}
.icon-sm-text-mobile-alerts-outline-dims{width:16px;height:16px}
.icon-sm-text-mobile-alerts,.icon-sm-text-mobile-alerts\:regular{background-image:url('icons/icons.svg');background-position:0 -704px;background-repeat:no-repeat}
.icon-sm-text-mobile-alerts-dims{width:16px;height:16px}
.icon-sm-transfer-money,.icon-sm-transfer-money\:regular{background-image:url('icons/icons.svg');background-position:0 -720px;background-repeat:no-repeat}
.icon-sm-transfer-money-dims{width:16px;height:16px}
.icon-sm-turbo-tax,.icon-sm-turbo-tax\:regular{background-image:url('icons/icons.svg');background-position:0 -736px;background-repeat:no-repeat}
.icon-sm-turbo-tax-dims{width:16px;height:16px}
.icon-sm-up,.icon-sm-up\:regular{background-image:url('icons/icons.svg');background-position:0 -752px;background-repeat:no-repeat}
.icon-sm-up-dims{width:16px;height:16px}