/* Icons from directory "" */
.icon-accounts,.icon-accounts\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-accounts-dims{width:32px;height:32px}
.icon-add,.icon-add\:regular{background-image:url('icons/icons.svg');background-position:0 -32px;background-repeat:no-repeat}
.icon-add-dims{width:32px;height:32px}
.icon-alert-error,.icon-alert-error\:regular{background-image:url('icons/icons.svg');background-position:0 -64px;background-repeat:no-repeat}
.icon-alert-error-dims{width:32px;height:32px}
.icon-alert-fill,.icon-alert-fill\:regular{background-image:url('icons/icons.svg');background-position:0 -96px;background-repeat:no-repeat}
.icon-alert-fill-dims{width:32px;height:32px}
.icon-alert-outline,.icon-alert-outline\:regular{background-image:url('icons/icons.svg');background-position:0 -128px;background-repeat:no-repeat}
.icon-alert-outline-dims{width:32px;height:32px}
.icon-alert-warning,.icon-alert-warning\:regular{background-image:url('icons/icons.svg');background-position:0 -160px;background-repeat:no-repeat}
.icon-alert-warning-dims{width:32px;height:32px}
.icon-arrow,.icon-arrow\:regular{background-image:url('icons/icons.svg');background-position:0 -192px;background-repeat:no-repeat}
.icon-arrow-dims{width:32px;height:32px}
.icon-back,.icon-back\:regular{background-image:url('icons/icons.svg');background-position:0 -224px;background-repeat:no-repeat}
.icon-back-dims{width:32px;height:32px}
.icon-bill-pay,.icon-bill-pay\:regular{background-image:url('icons/icons.svg');background-position:0 -256px;background-repeat:no-repeat}
.icon-bill-pay-dims{width:32px;height:32px}
.icon-calendar,.icon-calendar\:regular{background-image:url('icons/icons.svg');background-position:0 -288px;background-repeat:no-repeat}
.icon-calendar-dims{width:32px;height:32px}
.icon-call,.icon-call\:regular{background-image:url('icons/icons.svg');background-position:0 -320px;background-repeat:no-repeat}
.icon-call-dims{width:32px;height:32px}
.icon-check-image,.icon-check-image\:regular{background-image:url('icons/icons.svg');background-position:0 -352px;background-repeat:no-repeat}
.icon-check-image-dims{width:32px;height:32px}
.icon-checkmark,.icon-checkmark\:regular{background-image:url('icons/icons.svg');background-position:0 -384px;background-repeat:no-repeat}
.icon-checkmark-dims{width:32px;height:32px}
.icon-close,.icon-close\:regular{background-image:url('icons/icons.svg');background-position:0 -416px;background-repeat:no-repeat}
.icon-close-dims{width:32px;height:32px}
.icon-computer,.icon-computer\:regular{background-image:url('icons/icons.svg');background-position:0 -448px;background-repeat:no-repeat}
.icon-computer-dims{width:32px;height:32px}
.icon-delete,.icon-delete\:regular{background-image:url('icons/icons.svg');background-position:0 -480px;background-repeat:no-repeat}
.icon-delete-dims{width:32px;height:32px}
.icon-down,.icon-down\:regular{background-image:url('icons/icons.svg');background-position:0 -512px;background-repeat:no-repeat}
.icon-down-dims{width:32px;height:32px}
.icon-edit,.icon-edit\:regular{background-image:url('icons/icons.svg');background-position:0 -544px;background-repeat:no-repeat}
.icon-edit-dims{width:32px;height:32px}
.icon-email,.icon-email\:regular{background-image:url('icons/icons.svg');background-position:0 -576px;background-repeat:no-repeat}
.icon-email-dims{width:32px;height:32px}
.icon-error,.icon-error\:regular{background-image:url('icons/icons.svg');background-position:0 -608px;background-repeat:no-repeat}
.icon-error-dims{width:18px;height:18px}
.icon-forward,.icon-forward\:regular{background-image:url('icons/icons.svg');background-position:0 -626px;background-repeat:no-repeat}
.icon-forward-dims{width:32px;height:32px}
.icon-help-outline,.icon-help-outline\:regular{background-image:url('icons/icons.svg');background-position:0 -658px;background-repeat:no-repeat}
.icon-help-outline-dims{width:32px;height:32px}
.icon-help,.icon-help\:regular{background-image:url('icons/icons.svg');background-position:0 -690px;background-repeat:no-repeat}
.icon-help-dims{width:32px;height:32px}
.icon-hide,.icon-hide\:regular{background-image:url('icons/icons.svg');background-position:0 -722px;background-repeat:no-repeat}
.icon-hide-dims{width:32px;height:32px}
.icon-info,.icon-info\:regular{background-image:url('icons/icons.svg');background-position:0 -754px;background-repeat:no-repeat}
.icon-info-dims{width:32px;height:32px}
.icon-notifications,.icon-notifications\:regular{background-image:url('icons/icons.svg');background-position:0 -786px;background-repeat:no-repeat}
.icon-notifications-dims{width:32px;height:32px}
.icon-page-loader,.icon-page-loader\:regular{background-image:url('icons/icons.svg');background-position:0 -818px;background-repeat:no-repeat}
.icon-page-loader-dims{width:32px;height:32px}
.icon-pay-people,.icon-pay-people\:regular{background-image:url('icons/icons.svg');background-position:0 -850px;background-repeat:no-repeat}
.icon-pay-people-dims{width:32px;height:32px}
.icon-print,.icon-print\:regular{background-image:url('icons/icons.svg');background-position:0 -882px;background-repeat:no-repeat}
.icon-print-dims{width:32px;height:32px}
.icon-recycle,.icon-recycle\:regular{background-image:url('icons/icons.svg');background-position:0 -914px;background-repeat:no-repeat}
.icon-recycle-dims{width:32px;height:32px}
.icon-refresh,.icon-refresh\:regular{background-image:url('icons/icons.svg');background-position:0 -946px;background-repeat:no-repeat}
.icon-refresh-dims{width:32px;height:32px}
.icon-rename,.icon-rename\:regular{background-image:url('icons/icons.svg');background-position:0 -978px;background-repeat:no-repeat}
.icon-rename-dims{width:32px;height:32px}
.icon-repeat,.icon-repeat\:regular{background-image:url('icons/icons.svg');background-position:0 -1010px;background-repeat:no-repeat}
.icon-repeat-dims{width:32px;height:32px}
.icon-rewards,.icon-rewards\:regular{background-image:url('icons/icons.svg');background-position:0 -1042px;background-repeat:no-repeat}
.icon-rewards-dims{width:32px;height:32px}
.icon-scheduled,.icon-scheduled\:regular{background-image:url('icons/icons.svg');background-position:0 -1074px;background-repeat:no-repeat}
.icon-scheduled-dims{width:32px;height:32px}
.icon-search,.icon-search\:regular{background-image:url('icons/icons.svg');background-position:0 -1106px;background-repeat:no-repeat}
.icon-search-dims{width:32px;height:32px}
.icon-security,.icon-security\:regular{background-image:url('icons/icons.svg');background-position:0 -1138px;background-repeat:no-repeat}
.icon-security-dims{width:32px;height:32px}
.icon-settings,.icon-settings\:regular{background-image:url('icons/icons.svg');background-position:0 -1170px;background-repeat:no-repeat}
.icon-settings-dims{width:32px;height:32px}
.icon-show,.icon-show\:regular{background-image:url('icons/icons.svg');background-position:0 -1202px;background-repeat:no-repeat}
.icon-show-dims{width:32px;height:32px}
.icon-small-loader,.icon-small-loader\:regular{background-image:url('icons/icons.svg');background-position:0 -1234px;background-repeat:no-repeat}
.icon-small-loader-dims{width:32px;height:32px}
.icon-sort,.icon-sort\:regular{background-image:url('icons/icons.svg');background-position:0 -1266px;background-repeat:no-repeat}
.icon-sort-dims{width:32px;height:32px}
.icon-success,.icon-success\:regular{background-image:url('icons/icons.svg');background-position:0 -1298px;background-repeat:no-repeat}
.icon-success-dims{width:32px;height:32px}
.icon-text-mobile-alerts-outline,.icon-text-mobile-alerts-outline\:regular{background-image:url('icons/icons.svg');background-position:0 -1330px;background-repeat:no-repeat}
.icon-text-mobile-alerts-outline-dims{width:32px;height:32px}
.icon-text-mobile-alerts,.icon-text-mobile-alerts\:regular{background-image:url('icons/icons.svg');background-position:0 -1362px;background-repeat:no-repeat}
.icon-text-mobile-alerts-dims{width:32px;height:32px}
.icon-transfer-money,.icon-transfer-money\:regular{background-image:url('icons/icons.svg');background-position:0 -1394px;background-repeat:no-repeat}
.icon-transfer-money-dims{width:32px;height:32px}
.icon-turbo-tax,.icon-turbo-tax\:regular{background-image:url('icons/icons.svg');background-position:0 -1426px;background-repeat:no-repeat}
.icon-turbo-tax-dims{width:32px;height:32px}
.icon-up,.icon-up\:regular{background-image:url('icons/icons.svg');background-position:0 -1458px;background-repeat:no-repeat}
.icon-up-dims{width:32px;height:32px}