{{!
  Template parameters:

  @param {Boolean} dropdown
    Use when included as part of the large-screen drop-down
}}

<ul class="di-panel__full-xs di-list-group m-b-0">
  {{#each fpo.accounts}}
    <li>
      <button type="button" class="di-list-group__item di-list-group__item--tall js-back">
        <div class="di-arrange">
          <div class="di-arrange__fill">
            {{account}}
          </div>
          <div class="di-arrange__fit h4 u-line-height-sm">
            {{balance}}
          </div>
        </div>
        {{#if notes}}
          <div class="di-arrange h6 text-muted text-nowrap">
            <div class="di-arrange__fill">
              {{notes.account}}
            </div>
            <div class="di-arrange__fit">
              {{notes.balance}}
            </div>
          </div>
        {{/if}}
      </button>
    </li>
  {{/each}}
  <li>
    <span class="di-list-group__item di-list-group__item--heading h6">
      Another Member
    </span>
    <ul class="di-list-group">
      <li>
        <button type="button" class="di-list-group__item di-list-group__item--tall js-back">
          Steve Smith
        </button>
      </li>
      <li>
        <button type="button" class="di-list-group__item di-list-group__item--tall js-add-recipient-toggle" {{#if dropdown}}data-target="#AddRecipient" data-toggle="modal"{{/if}}>
          <div class="di-arrange di-arrange--middle">
            <div class="di-arrange__fill">
              Add a recipient
            </div>
            <div class="di-arrange__fit">
              <svg class="di-icon text-info">
                <use xlink:href="/assets/icons.svg#add"></use>
              </svg>
            </div>
          </div>
        </button>
      </li>
    </ul>
  </li>
</ul>
