<div class="col-xs-12 col-sm-6 p-x-xs">
  <button class="u-inherit text-muted p-b-xs p-l-0"
    type="button"
    data-toggle="visibility"
    data-target="#account-details">
    <svg class="di-icon text-muted" aria-hidden="true">
      <use xlink:href="/assets/icons.svg#info"></use>
    </svg>
    <span class="text-muted">Account Details</span>
  </button>
</div>

<div class="u-order-1-sm col-xs-12 p-a-sm hidden" id="account-details">
  <ul class="list-unstyled text-smaller">
    <li>
      <span class="text-bold">Type</span>
      <span class="pull-right">Lbl Checking SST</span>
    </li>
    <li>
      <span class="text-bold">Number</span>
      <span class="pull-right">3643399</span>
    </li>
    <li>
      <span class="text-bold">Routing Number</span>
      <span class="pull-right">101102836</span>
    </li>
    <li>
      <span class="text-bold">ACh Number</span>
      <span class="pull-right">3364499</span>
    </li>
    <hr class="m-y-xs">
    <li>
      <span class="text-bold">Interest rate</span>
      <span class="pull-right">0.011%</span>
    </li>
    <li>
      <span class="text-bold">YTD interest</span>
      <span class="pull-right">$66.00</span>
    </li>
    <li>
      <span class="text-bold">Accrued Interest Rate</span>
      <span class="pull-right">$77.00</span>
    </li>
    <li>
      <span class="text-bold">2015</span>
      <span class="pull-right">$77.00</span>
    </li>
  </ul>
  <hr class="m-y-xs">
  <div class="text-right">
    <button class="u-inherit hidden-xs"
      type="button">
      <svg class="di-icon">
        <use xlink:href="/assets/icons.svg#print"></use>
      </svg>
    </button>
    <button class="u-inherit"
      type="button"
      data-toggle="visibility"
      data-target="#account-details">
      <svg class="di-icon">
        <use xlink:href="/assets/icons.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
