<h4>Transfer</h4>

<div class="di-arrange di-arrange--gutter u-border-bottom p-b-xs">
  <div class="di-arrange__fit">
    From
  </div>
  <div class="di-arrange__fill text-right">
    Checking
  </div>
</div>
<div class="di-arrange di-arrange--gutter u-border-bottom p-t-xs p-b-xs">
  <div class="di-arrange__fit">
    To
  </div>
  <div class="di-arrange__fill text-right">
    Savings
  </div>
</div>
<div class="di-arrange di-arrange--gutter u-border-bottom p-t-xs p-b-xs">
  <div class="di-arrange__fit text-nowrap">
    Deliver By
  </div>
  <div class="di-arrange__fill text-right">
    January 10
  </div>
</div>
<div class="di-arrange di-arrange--gutter u-border-bottom p-t-xs p-b-xs">
  <div class="di-arrange__fit">
    Repeat
  </div>
  <div class="di-arrange__fill text-right">
    Once a month
  </div>
</div>
<div class="di-arrange di-arrange--gutter p-t-xs p-b-xs">
  <div class="di-arrange__fit">
    Amount
  </div>
  <div class="di-arrange__fill text-right">
    $100
  </div>
</div>

<div class="di-arrange di-arrange--gutter p-t p-b">
  <div class="di-arrange__fit">
    <svg class="di-icon text-info">
      <use xlink:href="/assets/icons.svg#print"></use>
    </svg>
  </div>
  <div class="di-arrange__fill">
    <a href="#">Print this receipt</a>
  </div>
</div>

  <div class="alert alert-info m-t" role="alert">
    <div class="di-arrange di-arrange--gutter">
      <div class="di-arrange__fit">
        <svg class="di-icon text-info">
          <use xlink:href="/assets/icons.svg#info"></use>
        </svg>
      </div>
      <div class="di-arrange__fill">
        Once this transfer is made, it cannot be canceled.
      </div>
    </div>
  </div>
