<div class="col-xs-12 col-sm-5 p-x-xs">
  <div class="di-leader di-leader--xs u-flex u-align-items-baseline u-space-between-xs u-justify-content-flex-end-sm m-b-xs">
    <span class="text-muted p-r-xs">
      <span class="di-leader__item">Available</span><sup>**</sup>
    </span>
    <span class="di-leader__item h3 u-line-height-sm m-y-0">$1861.70</span>
  </div>
</div>

<div class="text-muted col-xs-12 col-sm-6 u-order-1-sm p-b-xs p-x-xs">
  <div class="di-leader di-leader--xs u-flex u-align-items-baseline u-space-between-xs u-justify-content-flex-end-sm">
    <span class="p-r-xs">
      <span class="di-leader__item">Current</span>
    </span>
    <span class="di-leader__item h4 u-line-height-sm m-y-0">$2,508.72</span>
  </div>
</div>
