{{! Promotion 2a }}

<div data-debug-label="Promo 2a" class="promotion-2 di-panel di-panel--small p-a-0 m-b" data-breakpoints="320 475" data-container-size>
  <div class="promotion-2__image">
    <img src="http://placehold.it/400x300">
  </div>
  <div class="p-a">
    <h3 class="m-t-0 u-line-height-sm">Let us help you find the right home</h3>
    <p class="u-line-height-sm">We can help you with guidance, rewards and low mortgage rates.</p>
    <button class="di-button" type="button">
      Learn more
    </button>
  </div>
</div>
