<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Template</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/custom.css">

     
      <style>

      ul#myList {
    list-style-type:disc;
}
  
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}


.lg-radio, .lg-checkbox {
  font-size:18px;
}

.lg-checkbox {
  font-size:30px;
}

.sm-radio, .sm-checkbox {
  font-size:12px;
}

.sm-checkbox {
  font-size:20px;
}


.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: 1.1em;
    line-height: 0;
    top: 50%;
    left: 7%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="checkbox"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="checkbox"]:disabled + .cr {
    opacity: .5;
}

</style>


   </head>
   <body>

      <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu">
         <div data-include="../css3-sidebar.html"></div>
      </div> <!-- /.navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu --> 

      <div class="container">

    <h2>Checkbox</h2>
 <hr />
      <!-- /.tab container  --> 
   <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="pill" href="#usage">Design guideline</a></li>
    <li><a data-toggle="pill" href="#codeview">Code View</a></li>
  </ul>
  
  <div class="tab-content">

    <div id="usage" class="tab-pane fade in active">
    

 <h3>Sizes and Padding</h3>
    <hr />
        
         <p>There are two sizes for check boxes: small and large. The use of each depends on size constraints on the page. </p>
<p>Checkboxes are used when there are lists of options and the user may select any number of choices, including zero, one, or several. In other words, each checkbox is independent of all other checkboxes in the list, so checking one box doesn’t uncheck the others. A stand-alone checkbox can be used for a single option that the user can turn on or off.</p>
Use default browser focus state.</p>

 <p><img src="../img/checkbox001.png"></p>



<h3>Accessibility</h3>


<p>To get the correct styling:</p>


<ul id="myList" style="list-style-type: disc;">
    <li>the element acting as a checkbox needs to be focusable and selectable with the keyboard</li>
    <li>it must have role=”checkbox”, so that it’s announced to assistive technology as a checkbox</li>
    <li>aria-checked needs the right state (true or false), so it’s announced when the state changes</li>
  </ul>


<p>Additional information: <br />
<a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/">https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/</a></p>
<p>Using_the_checkbox_role <br />
<a href="http://webaim.org/techniques/forms/controls#checkbox">http://webaim.org/techniques/forms/controls#checkbox</a></p>

  </div><!-- /#usage --> 

    <div id="codeview" class="tab-pane fade">
     
         

<h3>Incididunt </h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    
    <div class="container">
       <div class="checkbox">
            <label class="lg-checkbox">
                <input type="checkbox" value="">
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                Large
            </label>
        </div>
        <div class="checkbox">
            <label class="sm-checkbox">
                <input type="checkbox" value="">
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                Small
            </label>
        </div>
  </div><!-- /.container -->  


    <pre class="prettyprint linenums">
           &lt;div class="checkbox"&gt;
            &lt;label class="lg-checkbox"&gt;
                &lt;input type="checkbox" value=""&gt;
                &lt;span class="cr"&gt;&lt;i class="cr-icon glyphicon glyphicon-ok"&gt;&lt;/i&gt;&lt;/span&gt;
                Large
            &lt;/label&gt;
        &lt;/div&gt;
        &lt;div class="checkbox"&gt;
            &lt;label class="sm-checkbox"&gt;
                &lt;input type="checkbox" value=""&gt;
                &lt;span class="cr"&gt;&lt;i class="cr-icon glyphicon glyphicon-ok"&gt;&lt;/i&gt;&lt;/span&gt;
                Small
            &lt;/label&gt;
        &lt;/div&gt;      
         </pre>


<h3>Incididunt </h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<div class="container">
    <div class="col-sm-6">
  <form>
       <div class="checkbox">
            <label class="lg-checkbox">
                <input type="checkbox" value="">
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                Large 
            </label>

            <label class="lg-checkbox">
                <input type="checkbox" value="">
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                Large
            </label>
        </div>
  </form>

</div><!-- /.col-sm-6 --> 
    <div class="col-sm-6">

  <form>
       <div class="checkbox">
            <label class="lg-checkbox">
                <input type="checkbox" value="" disabled="disabled">
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                Large Disable
            </label>

            <label class="lg-checkbox">
                <input type="checkbox" value="" checked="" disabled="">
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                Large Active Disable
            </label>
        </div>
  </form>

     </div> <!-- /.col-sm-6 --> 
</div><!-- /.container -->  



  <pre class="prettyprint linenums">
           &lt;form&gt;
       &lt;div class="checkbox"&gt;
            &lt;label class="lg-checkbox"&gt;
                &lt;input type="checkbox" value=""&gt;
                &lt;span class="cr"&gt;&lt;i class="cr-icon glyphicon glyphicon-ok"&gt;&lt;/i&gt;&lt;/span&gt;
                Large 
            &lt;/label&gt;

            &lt;label class="lg-checkbox"&gt;
                &lt;input type="checkbox" value=""&gt;
                &lt;span class="cr"&gt;&lt;i class="cr-icon glyphicon glyphicon-ok"&gt;&lt;/i&gt;&lt;/span&gt;
                Large
            &lt;/label&gt;
        &lt;/div&gt;
  &lt;/form&gt;



  &lt;form&gt;
       &lt;div class="checkbox"&gt;
            &lt;label class="lg-checkbox"&gt;
                &lt;input type="checkbox" value="" disabled="disabled"&gt;
                &lt;span class="cr"&gt;&lt;i class="cr-icon glyphicon glyphicon-ok"&gt;&lt;/i&gt;&lt;/span&gt;
                Large Disable
            &lt;/label&gt;

            &lt;label class="lg-checkbox"&gt;
                &lt;input type="checkbox" value="" checked="" disabled=""&gt;
                &lt;span class="cr"&gt;&lt;i class="cr-icon glyphicon glyphicon-ok"&gt;&lt;/i&gt;&lt;/span&gt;
                Large Active Disable
            &lt;/label&gt;
        &lt;/div&gt;
  &lt;/form&gt;
         </pre>

<h3>Incididunt </h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<div class="container">
    <div class="col-sm-6">
  <form>
       <div class="checkbox">
            <label class="sm-checkbox">
                <input type="checkbox" value="">
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                Small
            </label>

            <label class="sm-checkbox">
                <input type="checkbox" value="">
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                Small
            </label>
        </div>
  </form>

</div><!-- /.col-sm-6 --> 
    <div class="col-sm-6">

  <form>
       <div class="checkbox">
            <label class="sm-checkbox">
                <input type="checkbox" value="" disabled="disabled">
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
               Small Disable
            </label>

            <label class="sm-checkbox">
                <input type="checkbox" value="" checked="" disabled="">
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                Small Active Disable
            </label>
        </div>
  </form>

     </div> <!-- /.col-sm-6 --> 
</div><!-- /.container -->  


         <pre class="prettyprint linenums">
         &lt;form&gt;
       &lt;div class="checkbox"&gt;
            &lt;label class="sm-checkbox"&gt;
                &lt;input type="checkbox" value=""&gt;
                &lt;span class="cr"&gt;&lt;i class="cr-icon glyphicon glyphicon-ok"&gt;&lt;/i&gt;&lt;/span&gt;
                Small
            &lt;/label&gt;

            &lt;label class="sm-checkbox"&gt;
                &lt;input type="checkbox" value=""&gt;
                &lt;span class="cr"&gt;&lt;i class="cr-icon glyphicon glyphicon-ok"&gt;&lt;/i&gt;&lt;/span&gt;
                Small
            &lt;/label&gt;
        &lt;/div&gt;
  &lt;/form&gt;



  &lt;form&gt;
       &lt;div class="checkbox"&gt;
            &lt;label class="sm-checkbox"&gt;
                &lt;input type="checkbox" value="" disabled="disabled"&gt;
                &lt;span class="cr"&gt;&lt;i class="cr-icon glyphicon glyphicon-ok"&gt;&lt;/i&gt;&lt;/span&gt;
               Small Disable
            &lt;/label&gt;

            &lt;label class="sm-checkbox"&gt;
                &lt;input type="checkbox" value="" checked="" disabled=""&gt;
                &lt;span class="cr"&gt;&lt;i class="cr-icon glyphicon glyphicon-ok"&gt;&lt;/i&gt;&lt;/span&gt;
                Small Active Disable
            &lt;/label&gt;
        &lt;/div&gt;
  &lt;/form&gt;
         </pre>
         
                

                

             </div><!-- /#codeview --> 
  </div> <!-- /.tab-content --> 
<!-- /.tab container  --> 


      </div><!-- /.container -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/csi.min.js"></script>
    


   </body>
</html>