<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Template</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/custom.css">
      <link rel="stylesheet" href="../css/bootstrap-toggle.min.css">


   </head>
   <body>

      <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu">
         <div data-include="../css3-sidebar.html"></div>
      </div> <!-- /.navmenu navmenu-default navmenu-fixed-left offcanvas-sm nav-side-menu --> 

      <div class="container">

    <h1>Toggle Switch </h1>

<hr /> 

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

   <p><strong>EXAMPLE</strong></p> 

 <div class="checkbox">
  <label>
    <input type="checkbox" data-toggle="toggle">
    Enabled Switch
  </label>
</div>   <!-- /.checkbox -->

<br />

<div class="checkbox disabled">
  <label>
    <input type="checkbox" disabled data-toggle="toggle">
    Disabled Switch
  </label>
</div> <!-- /.checkbox disabled -->

<br clear="all" /> <br /> 

  <p><strong>CODE VIEW</strong></p> 

<code> 

<p>Enabled Switch</p>

 &#60;div class="checkbox"&#62;<br />
  &#60;label&#62;<br />
    &#60;input type="checkbox" data-toggle="toggle"&#62;<br />
    Option one is enabled<br />
  &#60;/label&#62;<br />
&#60;/div&#62;<br clear="all" /> <br />    

  <p>Disabled Switch</p>

&#60;div class="checkbox disabled"&#62;<br />
  &#60;label&#62;<br />
    &#60;input type="checkbox" disabled data-toggle="toggle"&#62;<br />
    Option two is disabled<br />
  &#60;/label&#62;<br />
&#60;/div&#62; <br clear="all" /> <br /> 

</code>


      </div><!-- /.container -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/csi.min.js"></script>
      <script src="../js/bootstrap-toggle.min.js"></script>

   </body>
</html>