<!DOCTYPE html>
<html lang="en">
<head>
  <title>Digital Insight Design System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://getbootstrap.com/assets/css/docs.min.css">
  <link rel="stylesheet" href="../css/style01.css">


</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">


          <div id="main">
               <div class="col-md-12">

         <div id="layout-hierarchy"  class="content-container">
         <br clear="all" /><br />

          <h2> Hierarchy </h2>
          <hr />

          <h3>Hierarchy for L, M, S</h3>
          <hr />
          <p>These are the common page hierarchies used:</p>
          <p><img class="img-responsive" src="../img/hierarchy-lms.png" alt="" ></p>

          <br clear="all" />

          <h3>Hierarchy for XS</h3>
          <hr />
          <p>At the XS breakpoint, the buttons are 100% width.</p>
          <p><img class="img-responsive" src="../img/hierarchy-xs.png" alt="" ></p>

          <br clear="all" />

        </div> <!-- #layout-hierarchy -->




   </div>  <!-- /.col-md-12 -->
  </div>  <!-- /#main -->





      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     

    </body>
    </html>
