<!DOCTYPE html>
<html lang="en">
<head>
  <title>Digital Insight Design System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://getbootstrap.com/assets/css/docs.min.css">
  <link rel="stylesheet" href="../css/style01.css">


</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">


          <div id="main">
               <div class="col-md-12">

           <div id="layout-responsive-ui" class="content-container">
           <br clear="all" /><br />

            <h2> Responsive UI  </h2>
            <hr />

            <h3>Breakpoint</h3>
            <hr />
            <p>Fixed containers driven by the device width are used here. Use default Bootstrap breakpoints (XS, S, M, L) along with the container width, unless specified differently for a design. The page background is #EDEDED. The container background is #FFFFFF.</p>


            <table class="table table-bordered" style="color:#666;">
              <thead style="color:#333;">
                <tr>
                  <td><strong>Device width</strong></td>
                  <td><strong>Container width</strong></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>(L) 1200px or higher </td>
                  <td>1170px</td>
                </tr>
                <tr>
                  <td>(M) 992px to 1199px</td>
                  <td>auto</td>
                </tr>
                <tr>
                  <td>(S) 768px to 991px</td>
                  <td>auto</td>
                </tr>
                <tr>
                  <td>Less than 768px</td>
                  <td>auto</td>
                </tr>
              </tbody>
            </table>
            <br clear="all"/>

            <h3>Grid</h3>
            <hr />
            <h4>Three equal columns</h4>
            <p>Use three equal-width columns starting at desktops and scaling to large desktops. On mobile devices, tablets, and smaller, the columns will automatically stack.</p>

            <div class="col-md-4 gray">.col-md-4</div>
            <div class="col-md-4 gray">.col-md-4</div>
            <div class="col-md-4 gray">.col-md-4</div>

            <br clear="all" />

            <h4>Three unequal columns</h4>
            <p>Use three equal-width columns starting at desktops and scaling to large desktops. On mobile devices, tablets, and smaller, the columns will automatically stack.</p>

            <div class="col-md-3 gray">.col-md-3</div>
            <div class="col-md-6 gray">.col-md-6</div>
            <div class="col-md-3 gray">.col-md-3</div>

            <br clear="all" />

            <h4>Two columns</h4>
            <p>Use two columns starting at desktops and scaling to large desktops.</p>

            <div class="col-md-8 gray">.col-md-8</div>
            <div class="col-md-4 gray">.col-md-4</div>

            <br clear="all" />

            <h4>Full width, single column</h4>

            <p>No grid classes are necessary for full-width elements.</p>


            <h4>Two columns with two nested columns</h4>
            <p>Use a row of columns within an existing column. This creates two columns starting at desktops and scaling to large desktops, with another two (equal widths) within the larger column.</p>
            <p>At mobile device sizes, tablets, and smaller, these columns and their nested columns will stack.</p>

            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6 gray">.col-md-6</div>
                <div class="col-md-6 gray">.col-md-6</div>
              </div>
            </div>
            <div class="col-md-4 gray">.col-md-4</div>

            <br clear="all" />

            <h4>Mixed: mobile and desktop</h4>
            <p>The Bootstrap 3-grid system has four tiers of classes: XS (phones), SM (tablets), MD (desktops), and LG (larger desktops). You can use almost any combination of these classes to create more dynamic and flexible layouts.</p>
            <p>Each tier of classes scales up. For example, if you plan to set the same widths for XS and SM, you only need to specify XS.</p>

            <div class="col-xs-12 col-md-8 gray">.col-xs-12 .col-md-8</div>
            <div class="col-xs-6 col-md-4 gray">.col-xs-6 .col-md-4</div>

            <div class="col-xs-6 col-md-4 gray">.col-xs-6 .col-md-4</div>
            <div class="col-xs-6 col-md-4 gray">.col-xs-6 .col-md-4</div>
            <div class="col-xs-6 col-md-4 gray">.col-xs-6 .col-md-4</div>

            <div class="col-xs-6 gray">.col-xs-6</div>
            <div class="col-xs-6 gray">.col-xs-6</div>

            <br clear="all" />

            <h4>Mixed: mobile, tablet, and desktop</h4>

            <div class="col-xs-12 col-sm-6 col-lg-8 gray">.col-xs-12 .col-sm-6 .col-lg-8</div>
            <div class="col-xs-6 col-lg-4 gray">.col-xs-6 .col-lg-4</div>

            <div class="col-xs-6 col-sm-4 gray">.col-xs-6 .col-sm-4</div>
            <div class="col-xs-6 col-sm-4 gray">.col-xs-6 .col-sm-4</div>
            <div class="col-xs-6 col-sm-4 gray">.col-xs-6 .col-sm-4</div>

            <br clear="all" />

            <h4>Column clearing</h4>
            <p>Clear floats at specific breakpoints to prevent awkward wrapping with uneven content.</p>

            <div class="col-xs-6 col-sm-3 gray">
              .col-xs-6 .col-sm-3
              <br>
              Resize your viewport or check it out on your phone for an example.
            </div>
            <div class="col-xs-6 col-sm-3 gray">.col-xs-6 .col-sm-3</div>

            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix visible-xs"></div>

            <div class="col-xs-6 col-sm-3 gray">.col-xs-6 .col-sm-3</div>
            <div class="col-xs-6 col-sm-3 gray">.col-xs-6 .col-sm-3</div>

            <br clear="all" />

            <h4>Offset, push, and pull resets</h4>
            <p>Reset offsets, pushes, and pulls at specific breakpoints.</p>

            <div class="col-sm-5 col-md-6 gray">.col-sm-5 .col-md-6</div>
            <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0 gray">.col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0</div>

            <div class="col-sm-6 col-md-5 col-lg-6 gray">.col-sm-6 .col-md-5 .col-lg-6</div>
            <div class="col-sm-6 col-md-5 col-md-offset-2 col-lg-6 col-lg-offset-0 gray">.col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0</div>

            <br clear="all" />

            <h3>Padding</h3>
            <hr />
            <h4>Primary Container / Panel</h4>

            <p>The primary container should follow the padding guidelines for each breakpoint. To maintain the correct top padding for each column, apply a class name “ first” to the top “di-container” in each column. Failure to do so will result in content not aligning at the top of each column.</p>
            <br clear="all"/>

            <table class="table table-bordered" style="color:#666;">
              <thead style="color:#333;">
                <tr>
                  <td><strong>Breakpoint</strong></td>
                  <td><strong>Padding (from the edge of the screen to content)</strong></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>L</td>
                  <td>30px all side, bottom 40px.</td>
                </tr>
                <tr>
                  <td>M</td>
                  <td>30px all side, bottom 40px.</td>
                </tr>
                <tr>
                  <td>S</td>
                  <td>20px all side, bottom 40px.</td>
                </tr>
                <tr>
                  <td>XS</td>
                  <td>20px all side, bottom 40px.</td>
                </tr>
              </tbody>
            </table>
            <br clear="all"/>

            <p><img class="img-responsive" src="../img/layout-padding-primarycontainer.png" ></p>

            <br clear="all" />

            <h4>Secondary Container / Panel</h4>
            <table class="table table-bordered" style="color:#666;">
              <thead style="color:#333;">
                <tr>
                  <td><strong>Breakpoint</strong></td>
                  <td><strong>Padding</strong></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>L, M, S</td>
                  <td>20px (from the edge the container to content) &amp; 30px at bottom</td>
                </tr>
                <tr>
                  <td>XS</td>
                  <td>Do not user container at this size</td>
                </tr>
              </tbody>
            </table>

            <br clear="all"/>

            <p style="color:#333333"><strong>Examples</strong></p>
            <p><img class="img-responsive" src="../img/layout-padding-secondarycontainer.png" alt="" ></p>

            <br clear="all" />

          </div><!-- #layout-responsive-ui -->


   </div>  <!-- /.col-md-12 -->
  </div>  <!-- /#main -->





      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     

    </body>
    </html>
