<!DOCTYPE html>
<html lang="en">
<head>
  <title>Digital Insight Design System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://getbootstrap.com/assets/css/docs.min.css">
  <link rel="stylesheet" href="../css/style01.css">


</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">


          <div id="main">
               <div class="col-md-12">

          


          <div id="layout-structure"  class="content-container">
          <br clear="all" /><br />
             <h2>Structure </h2>
             <hr />

             <h3>Desktop Structure (L)</h3>
             <hr />
             <p>There are three common layout types for the large screen size: 3-column, 2-column, and the 1-column layout.</p>
             <p><img class="img-responsive" src="../img/structure-l.png" alt="" ></p>

             <br clear="all" />

             <h3>Desktop Structure (M)</h3>
             <hr />
             <p>There are two common layout types for the medium screen size: 2-column and a 1-column layout. If there are three columns on L, you can either move the widgets from the third columns into the remaining columns, or simply hide those widgets.</p>
             <p><img class="img-responsive" src="../img/structure-m.png" alt="" ></p>

             <br clear="all" />

             <h3>Tablet Structure (S)</h3>
             <hr />
             <p>At the S screen size, there can be one or two columns. If there are two or three columns on L and M, you can either move some of the widgets from the other columns into the remaining columns, or hide those widgets.</p>
             <p><img class="img-responsive" src="../img/structure-s.png" alt="" ></p>

             <br clear="all" />

             <h3>Mobile Structure (XS)</h3>
             <hr />
             <p>There is only one column at the XS breakpoint. If there are two or three columns on larger screen sizes, you can either move some of the widgets from the other columns into the remaining columns, or hide those widgets.</p>
             <p><img class="img-responsive" src="../img/structure-xs.png" alt="" ></p>
         </div> <!-- #layout-structure -->

        

   </div>  <!-- /.col-md-12 -->
  </div>  <!-- /#main -->





      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     

    </body>
    </html>
