---
notes: |
  Bootstrap input groups extend form controls by adding text or buttons before,
  after, or on both sides of any text-based `<input>`. Use `.input-group` with
  an `.input-group-addon` or `.input-group-btn` to prepend or append elements to
  a single `.form-control`.

  See [Bootstrap input group
  documentation](http://getbootstrap.com/components/#input-groups) for further
  details.

links:
  "Bootstrap docs": http://getbootstrap.com/components/#input-groups
---

<div class="input-group">
  <input class="form-control" placeholder="Search..." aria-describedby="search">
  <span class="input-group-btn" id="search">
    <button class="di-button" type="submit">Search</button>
  </span>
</div>
