/**
 * Define keyframes
 */

 /**
  * Full rotation
  */

@keyframes rotate-full {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes scale-to-full-size {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
