---
notes: |
  The `.di-leader` component adds support for CSS dot leaders.

  #### Classes
  + `.di-leader`: The root element
  + `.di-leader__item`: Items separated by leader
---

<ul class="list-unstyled">
  <li class="di-leader">
    <span class="di-leader__item">Type</span>
    <span class="pull-right di-leader__item">Lbl Checking SST</span>
  </li>
  <li class="di-leader">
    <span class="di-leader__item">Number</span>
    <span class="pull-right di-leader__item">3643399</span>
  </li>
  <li class="di-leader">
    <span class="di-leader__item">Routing Number</span>
    <span class="pull-right di-leader__item">101102836</span>
  </li>
  <li class="di-leader">
    <span class="di-leader__item">ACh Number</span>
    <span class="pull-right di-leader__item">3364499</span>
  </li>
</ul>
